<nav>
  <h1>BugTracker</h1>
  <ul>
    <li (click)="toggle = true">Tester</li>
    <li (click)="toggle = false">Lead</li>
  </ul>
</nav>
<main>

  <div class="tester" *ngIf="toggle">
    <form (ngSubmit)="submitBug()">
      <h1>Any Bugs</h1>
      <label for="">Bug name</label>
      <input [(ngModel)]="BugName" name="BugName" type="text" placeholder="Bug Name" />
      <label for="">Description of bug</label>
      <textarea rows="10" [(ngModel)]="Description" name="Description" placeholder="Description"></textarea>

      <label for="priority">Priority of the bug</label>
      <select [(ngModel)]="Priority" name="Priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>

      <label for="lead">Assign to Lead</label>
      <select [(ngModel)]="Lead" name="Lead">
        <option *ngFor="let b of bugs" [value]="b.lead">{{ b.lead }}</option>
      </select>
      <button type="submit">Submit</button>
    </form>
  </div>

  <div class="lead" *ngIf="!toggle">
    <form action="">
      <h1>Bugs list</h1>
      <label for="lead">select lead</label>
      <select (change)="selectBug()" [(ngModel)]="lead_bug" name="Lead">
        <option *ngFor="let b of bugs" [value]="b.lead">{{ b.lead }}</option>
      </select>

      <label for="lead">Bug name</label>
      <input type="text" value="{{cur_bug.bug_name}}" readonly>
      <label for="lead">priority</label>
      <input type="text" value="{{cur_bug.priority}}" readonly>
      <label for="">Description</label>
      <textarea name="" id="" cols="30" rows="10" id="" readonly>{{cur_bug.description}}</textarea>
    </form>
  </div>
</main>